.card_wrapper {
  border: solid 2px;
  border-color: inherit;
  color: inherit;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.card_title {
  align-self: center;
  text-decoration: underline;
}
