:root {
  --color-black: #000;
  --color-gray: #303030;
  --color-white: #fff;
  --color-red: #c33232;
  --color-yellow: #b8bc00;
  --color-green: #00bc13;
  --color-blue: #0084bc;
  --color-transparent-red: #c3323223;
  --color-transparent-yellow: #b8bc0023;
  --color-transparent-green: #00bc1323;
  --color-transparent-blue: #0084bc23;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--color-gray);
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

label,
pre {
  color: var(--color-white);
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (min-width: 1401px) {
  html {
    font-size: 100%;
  }
}
