.console_wrapper {
  width: 37rem;
  height: calc(100vh - 2rem);
  margin: 1rem;
  background-color: var(--color-black);
  cursor: text;
}

.console_lines {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  padding: 0.5rem;
}

.input_wrapper {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.console_input {
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  resize: none;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0 0.5rem;
}

.console_input:focus {
  outline: none;
}

.line {
  margin-bottom: 0.2rem;
}

.console_output_line {
  margin-left: 1rem;
}

@media only screen and (max-width: 1024px) {
  .console_wrapper {
    width: calc(100vw - 2rem);
    height: 40vh;
    margin: 1rem;
  }
}
